<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/lists"><%= image_tag "popcorn.png", alt: "popcorn", width: 60, height: 60 %> <span class="px-2 fw-semibold fs-3"> IMDB List</a>
        <div class="ms-auto d-flex">
          <a class="btn btn-outline-warning my-2 ms-2" href="/lists">My Lists</a>
          <a class="btn btn-outline-warning my-2 ms-2" href="/lists/new">New List</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
